@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: black;
  background-image: url('../background-img/925860-black-dark-texture-monochrome.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #f1e5d0;
}

.homeMain {
  margin: auto auto auto auto;
  width: 95vw;
  overflow: hidden;
  position: relative;
}

.homeMain img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.homeMain div {
  margin: auto;
  text-align: center;
  width: 95vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bold;
  color: #f1e5d0;
  text-shadow: 2px 2px 3px black;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}


